* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: #fff5ee; 
  text-align: center;
  padding: 20px 0;
}

.site-title {
  font-size: 36px;
  font-weight: 700;
  color: #000;
}

  
.hero {
 background: #fff7f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
}


.hero-left,
.hero-right {
  flex: 1;
  padding: 80px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left h1 {
  font-size: 48px;
  color: #5a2d1c;
}

.hero-left p {
  margin: 20px 0;
  color: #555;
  font-size: 16px;
}

.hero-buttons {
  margin-top: 20px;
}

.btn {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.primary {
  background: #d2691e;
  color: #ffffff;
}

.secondary {
  background: transparent;
  border: 2px solid #d2691e;
  color: #d2691e;
}


.hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right img {
  max-width: 100%;
  border-radius: 20px;
}


.menu {
  padding: 80px;
  background: #ffffff;
}

.menu h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #5a2d1c;
  font-size: 32px;
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.menu-card { background: #fff7f2;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.menu-card img {
  width: 100%;
  height: 170px;
  object-fit: contain;
  padding: 10px;          /* image-ku breathing space */
  background: #fff7f2;
  border-radius: 10px;
}

.menu-card h3 {
  margin-top: 12px;
  font-size: 18px;
  color: #5a2d1c;
}

.menu-card span {
  font-weight: bold;
  color: #d2691e;
  font-size: 16px;
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: auto;
  }

  .hero-left,
  .hero-right {
    padding: 40px;
    text-align: center;
  }

  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .menu-grid {
    grid-template-columns: 1fr;
  }

  .hero-left h1 {
    font-size: 36px;
  }
}
